
.home-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo__img {
    width: 350px;
    height: 350px;
    /* background-color: #3498db; */
    /* border-radius: 50%; */
    margin-right: 20px;
  }
  
  .content {
    flex: 1;
  
    h1 {
      font-size: 32px;
      margin-bottom: 20px;
    }
  
    p {
      line-height: 1.6;
      font-family: 'Roboto';
    }
  }
  
  /* Responsive design */
  @media (max-width: 960px) {
    .hero-section {
      flex-direction: column;
    }
  
    .logo__img {
      width: 250px;
      height: 250px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .featured-blogs {
    margin-top: 20px; /* Adjust spacing as needed */
  }
  
  .featured-blogs h2 {
    font-size: 24px;
    color: #333;
  }
  
  .featured-blogs ul {
    list-style-type: none;
    padding: 0;
  }
  
  .featured-blogs li {
    margin-bottom: 10px; /* Adjust spacing between links */
  }
  
  .featured-blogs a {
    text-decoration: none;
    color: #007bff; /* Link color */
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .featured-blogs a:hover {
    color: #0056b3; /* Hover color */
  }