
.home-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .hero-section {
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo__img {
    width: 200px;
    height: 200px;
    /* background-color: #3498db; */
    /* border-radius: 50%; */
    margin-right: 20px;
  }
  
  .content {
    flex: 1;
  
    h1 {
      font-size: 32px;
      margin-bottom: 20px;
    }
  
    p {
      line-height: 1.6;
    }
  }
  
  /* Responsive design */
  @media (max-width: 960px) {
    .hero-section {
      flex-direction: column;
    }
  
    .logo__img {
      width: 150px;
      height: 150px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  