/* Add the following styles to your ContactUsPage.css */

.contact-us-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
    .social-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      margin: 10px;
      background-color: #f0f0f0f0; 
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  
      &:hover {
        background-color: #2980b9;
        color: #ffffff;
      }
    }
  }
  
  /* Responsive design */
  @media (max-width: 960px) {
    .social-link {
      width: calc(50% - 20px);
    }
  }
  